{% extends "base.html" %}
{% load static %}


{% block title %}AKGconnect{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/attendance.css' %}">
{% endblock head %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        {% include "partials/_messages.html" %}
        <div class="col-md-6">
            <div class="card text-center mt-5 ">
                <div class="card-body">
                    <h1 class="card-title">Attendance</h1>
                    <h2>Overall Percentage: </h2><h2 class="card-subtitle mb-2 text-muted overall-percentage"> {{ values.overallPercentage }}%</h2>
                    <h4 class="card-subtitle mb-2 text-muted overall-present">Overall Present: {{ values.overallPresent }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted overall-lecture">Overall Lecture: {{ values.overallLecture }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted overall-absent">Overall Absent: {{ values.overallAbsent }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
           
                <table class="table table-striped table-bordered table-advance table-hover compacttable">
                    <thead>
                        <tr>
                            <th style="width: 60px;">
                                <div style="text-align: left; padding-left: 19%; width: 55px;">Date</div>
                            </th>
                            <!-- ngRepeat: sub in subjects -->
                             {% for sub in subjects %}
                             <th ng-repeat="sub in subjects" class="ng-scope">
                                <div style="width:100px;word-wrap: break-word;white-space: normal;" class="ng-binding">{{sub.name}}</div>
                            </th>
                             {% endfor %}
                             
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Overall Percentage</td>
                            {% for sub in subjects %}
    
                            <th ng-repeat="attPercentage in studentEachSubjectPercentage" ng-class="{'danger':attPercentage.percentageAttendance < 75}" class="ng-scope">{{sub.percentageAttendance}}</th>
                        
    
                            {% endfor %}
                          </tr>
                        <tr>
                            <td>Total Present</td>
                            {% for sub in subjects %}
    
                                                    <!-- ngRepeat: attPercentage in overall_percentage_subjectList_data --><th ng-repeat="attPercentage in overall_percentage_subjectList_data" class="ng-scope">{{sub.presentLeactures}}</th>
                           
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Absent</td>
                            {% for sub in subjects %}
    
                                                    <!-- ngRepeat: attPercentage in overall_percentage_subjectList_data --><th ng-repeat="attPercentage in overall_percentage_subjectList_data" class="ng-scope">{{sub.absentLeactures}}</th>
                           
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Total Lecture</td>
                            
                            {% for sub in subjects %}
    
                                                    <!-- ngRepeat: attPercentage in overall_percentage_subjectList_data --><th ng-repeat="attPercentage in overall_percentage_subjectList_data" class="ng-scope">{{sub.totalLeactures}}</th>
                           
                            {% endfor %}
                        </tr>
                        <tr>
                            <th colspan="11"></th>
    
                        </tr>
                        <!-- ngRepeat: student in studentAttendanceList | filter:searchgGlobalText -->
                        {% for lt in stdAtdlist %}
                            <tr style="max-height: 57px">
                                <td style="font-weight: 600">
                                    {{ lt.date }}
                                </td>
    
                                {% for sub in lt.values %}
                                    <td style="font-weight: 900 !important">
                                        {% for mark in sub %}
                                        <span class="{{ mark.1 }}">{{ mark.0 }}</span>
                                        {% endfor %}
                                    </td>
                                    
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url "pdp" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check PDP Attendance</a>
        </div>
    </div>
</div>



{% endblock body %}